@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins", serif;
}
:root{
    /* color  */
    --primary-color: #1A5AFF;
    --secoundary-color: #25262A;
    --text-color:rgba(37,38,42,.8);
    --white:#fff;

    /* font  */
    --ClashDisplay-Regular:ClashDisplay-Regular;
    --ClashDisplay-Medium:ClashDisplay-Medium;
    --ClashDisplay-Semibold:ClashDisplay-Semibold;
    --ClashDisplay-Bold:ClashDisplay-Bold;
    --Poppins:"Poppins", serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0 !important;
}
a{
    text-decoration: none !important;
    display: inline-block;
}
img{
    max-width: 100%;
}
button:focus{
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "inter", serif;
    margin: 0;
}
p{
    font-size: 20px;
    line-height: 1.6;
    color: var(--text-color);
}
.container{
    max-width: 1280px;
}
/* header area Start */
.header-wrapper{
    padding: 47px 0 70px;
}
.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo css */
.header_logo{
    padding:0 80px;
}
.header_logo img{
    height: 48px;
}
/* menu css */
.menuArea ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menuArea ul li{
    padding: 0 24px;    
}
.menuArea ul li:first-child{
    padding-left: 0;
}
.menuArea ul li:last-child{
    padding-right: 0;
}
.menuArea ul li a{
    text-transform: capitalize;
    color: var(--text-color);
    font-family: var(--ClashDisplay-Regular);
    transition:all 0.5s ease;
    position: relative;
}
.menuArea ul li.subMenu > a::after {
    content: "";
    background-image: url(./image/icon/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 12px;
    height: 8px;
    top: 7px;
    right: -22px;
    transition: .3s ease;
}
.menuArea ul li:hover> a::after{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
.menuArea ul li:hover> a{
    color: var(--secoundary-color);
    font-family: var(--ClashDisplay-Semibold);
}
.menuArea ul li.active > a{
    color: var(--secoundary-color);
    font-family: var(--ClashDisplay-Semibold);
}
/* sub menu css */
.menuArea ul li ul {
    position: absolute;
    display: block;
    max-width: 200px;
    min-width: 125px;
    box-shadow: -0.1px 0px 0.5px var(--secoundary-color), 0.1px 0.1px 0.5px var(--secoundary-color);
    padding: 10px 15px;
    left: 0;
    top: calc(100% + 30px);
    visibility: hidden;
    opacity: 0;
    transition:.3s;
}
.menuArea ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: calc(100%);
}
.menuArea ul li ul li{
    padding: 0;    
}
.menuArea ul li ul li a{
    padding: 6px 0;
    transition: .5s ease;
}
.menuArea ul li ul li:hover a{
    color: var(--secoundary-color);
    font-family: var(--ClashDisplay-Semibold);
    padding-left: 10px;    
}
.button{
    font-size:16px;
    border-radius: 12px;
    padding: 20px 40px;
    font-family: var(--ClashDisplay-Medium);
}
.clrblue{
    background-color: var(--primary-color);
    color:var(--white);
}
/* header area End */

